<form (ngSubmit) = "darSalidaVehiculo()">
  <br/>
  <div class="card border-dark mb-3">
    <div class="card-header">Salida Vehiculo</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Ingrese placa:</h5>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ej: AAA000" [(ngModel)]="placa" name="placa">
      </div>
      <div class="form-group">
        <br/>
        <h5 class="card-title">Información de cobro:  </h5>
        <div class="row">
          <div class="col-md-3"><strong>Placa: </strong></div>
          <div class="col-md-3">{{tiquete.vehiculoPlaca}}</div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-3"><strong>Fecha ingreso: </strong></div>
          <div class="col-md-3">{{tiquete.fechaInicio | date:"MM/dd/yyyy hh:mm"}}</div>
          <div class="col-md-3"><strong>Fecha salida: </strong></div>
          <div class="col-md-3">{{tiquete.fechaFin | date:"MM/dd/yyyy hh:mm"}}</div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-3"><strong>Valor total: </strong></div>
          <div class="col-md-3">{{tiquete.valorTotal}}</div>
        </div>
      </div>
      <br/>
    <div class="form-group">
      <button rol="button" class="btn btn-primary">Dar salida</button>
    </div>
    </div>
  </div>
</form>
